<!-- app/views/users/show.html.erb -->

<div class="container">
  <!-- Contenu principal -->
  <div class="row mt-4">
    <div class="col-md-3">
      <!-- Photo de profil utilisateur -->
      <img  class= avatar src="https://media.licdn.com/dms/image/D4D03AQGT7aDRetO1rw/profile-displayphoto-shrink_400_400/0/1697108268364?e=1723680000&v=beta&t=bVe-yUhyR_bzTa4rMe4XHVTTRr3TsajQ86SDnyqv0L8" alt="Photo de profil">
    </div>
    <div class="col-md-9">
      <h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>
      <p><strong>Email :</strong> <%= @user.email %></p>
      <p><strong>Numéro de téléphone :</strong> <%= @user.phone_number %></p>
<p><strong>Biographie:</strong> <%= @user.bio %></p>
<%= link_to "Modifier mon profil", edit_user_registration_path(@user), class: "green-btn" %>

    </div>
  </div>
</div>
