<div class="hero-banner-searchbox">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('banner.jpg') %>');">
    <div class="container">
      <h1> Trouvez le témoin parfait !</h1>
      <p>Pour un jour aussi spécial que vous.</p>
      <div class="create-witness-button" style="text-align: center; margin-bottom: 20px;">
        <%= link_to "Devenir témoin", new_witness_path, class: "btn-banner" %>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-md-8"> <!-- Utilisation d'une colonne plus large pour centrer la carte -->
      <div class="card mb-4 reservation-card">
        <div class="card-body">
          <div class="text-center mb-2">
            <h3>Recherche de témoins</h3>
          </div>

<%= simple_form_for @witness, url: root_path, method: :get, html: { class: "search-bar justify-content-center" } do |f| %>
  <div>
    <div class="row gx-3">
      <div class="col-md">
        <%= f.input :name, as: :string, label: false, input_html: { id: "search-name", placeholder: "Nom du témoin", class: "form-control rounded-pill py-2" } %>
      </div>
      <div class="col-md">
        <%= f.input :gender, as: :select, label: false, collection: [["Genre", "", { disabled: true, selected: true }], ["Homme", "homme"], ["Femme", "femme"]], include_blank: false, input_html: { id: "search-gender", class: "form-control custom-select rounded-pill py-2" } %>
      </div>
      <div class="col-md">
        <%= f.input :price_per_day, as: :string, label: false, input_html: { id: "search-price-max", placeholder: "Prix maximum", class: "form-control rounded-pill py" } %>
      </div>
      <div class="col-md">
        <%= f.button :submit, "Rechercher", class: "green-btn" %>
      </div>
    </div>
  </div>
<% end %>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <section class="cards-section">
    <% @witnesses.each do |witness| %>
      <div class="card">
        <% if witness.photo.attached? %>
          <%= cl_image_tag witness.photo.key, class: "avatar-wit" %>
        <% else %>
          <p>mettre une photo par défaut</p>
        <% end %>
        <div class="card-info">
          <h3><%= witness.name %></h3>
          <% words = witness.description.to_s.split(' ') %>
          <% truncated_description = words.first(20).join(' ') %>
          <p> <%= truncated_description %>...</p>
          <%= link_to "Voir plus", witness_path(witness.id), class: "green-btn" %>
        </div>
      </div>
    <% end %>
  </section>
</div>


